<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Lista de tarefas</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">

    <script src="{{ url_for('static', filename='js/jquery-2.1.4.min.js')}}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/public/js/main.min.js')}}" charset="utf-8"></script>

    {% block js %}
    {% endblock %}

</head>
<body {% block angularapp %}{% endblock %}>

    <div class="container">
        <nav class="navbar navbar-dark bg-inverse">
            <a class="navbar-brand" href="#">Lista de tarefas</a>
            <ul class="nav navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
            <form class="form-inline pull-xs-right">
                <input class="form-control" type="text" placeholder="Search">
                <button class="btn btn-success-outline" type="submit">Search</button>
            </form>
        </nav>

        {% block content %}
        {% endblock %}
    </div>

</body>
</html>
