<button id="show-dialog" type="button" class="btn btn-primary btn-lg" ng-click="taskC.newTask()">
    Add
</button>

<div class="modal fade" id="modal_task" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Tarefa</h4>
            </div>
            <form method="POST" ng-submit="taskC.saveTask()">
                <div class="modal-body">

                    <input type="hidden" name="id" ng-model="task.id">
                    <fieldset class="form-group">
                        <label for="descricao">Descrição</label>
                        <input type="text" class="form-control" id="task" ng-model="taskC.task.task" placeholder="Descrição da tarefa">
                        <small class="text-muted">Descreva a tarefa</small>
                    </fieldset>

                    <label class="c-input c-checkbox">
                        <input type="checkbox" name="done" ng-model="taskC.task.done" value="false">
                        <span class="c-indicator"></span>
                        Finalizada
                    </label>


                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>
