<table class="table table-hover table-responsive">
    <thead>
        <th>Editar</th>
        <th>Tarefa</th>
        <th>Status</th>
        <th>Remover</th>
    </thead>
    <tbody>

        <tr ng-repeat="task_tr in taskC.tasks">
            <td>
                <button ng-click="taskC.getTask(task_tr.id);" class="btn btn-primary"><i class="material-icons">edit</i></button>
            </td>

            <td>
                {[{ task_tr.task }]}
            </td>
            <td>
                <button ng-show="!task_tr.done" class="btn btn-primary" ng-click="taskC.doneTask(task_tr);">
                    <b>Finalizar</b>
                </button>
                <button ng-show="task_tr.done" class="btn btn-primary" disabled>Finalizada</button>
            </td>
            <td>
                <button class="btn btn-primary" ng-click="taskC.deleteTask(task_tr.id);">
                    <i class="material-icons">delete</i>
                </button>
            </td>

        </tr>

    </tbody>
</table>
